# DBT specific
dbt_packages/
logs/
.user.yml

# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Java / Maven specific
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Compiled files
*.class
*.jar
*.war
*.ear

# Logs
*.log
hs_err_pid*
replay_pid*



# IDE - Eclipse
.project
.classpath
.settings/
bin/



